click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-PyMongo==2.3.0
importlib-metadata==4.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.2.0
langdetect==1.0.9
MarkupSafe==2.0.1
multi-rake==0.0.2
nltk==3.8.1
numpy==1.24.1
pycld2==0.41
pymongo==3.11.4
pyrsistent==0.19.3
python-decouple==3.4
python-dotenv==0.18.0
regex==2022.10.31
six==1.16.0
tqdm==4.64.1
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.4.1
